body {
    font-family: '游ゴシック';
}
.content-wrapper {
    background-color: #F0F3F8 !important;
}

.header-panel {
    /* Set border for header panel */
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    font-family: '游ゴシック';
}

.card .card-body {
    padding: 0.88rem 0.81rem;
    font-family: '游ゴシック';
}

.custom-hd-tbl {
    /* 16C4C1 */
    background-color: #E2E3E3 !important;
    height: 30px;
    color: #333 !important;
}

.table th, 
.table td {
    border: 1px solid #E2E3E3;
    padding: 0.55rem;
    height: 0em;
}

td .td-checkbox {
    padding-right: 0em;
    height: 0em !important;
}

.icon-active {
    height: 0em !important;
}

.filter-btn {
    height: 38px;
}

.modal .modal-dialog .modal-content .modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 20px 26px; */
}


.modal .modal-dialog .modal-content .modal-header {
    padding: 12px 26px;
    background-color: #E1E1E1;
}